* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
    color: #333333;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: #333333;
}
header {
    position: fixed;
    z-index: 2;
    top: 0px;
    width: 100%;
    border: 1px solid #bdbdbd;
}
.redLineHeader {
    height: 13px;
    background-color: #e21613;
}
.whiteLineHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 32px;
    background-image: linear-gradient(#ffffff 80%,#f2f2f2);
}
.whiteLineHeader a {
    display: inline-flex;
}
.whiteLineHeader img, .redLineFooter img {
    width: 82px;
}
.whiteLineHeader h2 {
    font-size: 24px;
    font-weight: 800;
    margin: 0px;
}
.carrelloIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
    padding: 0px 32px;
}
.carrelloIcon img {
    width: 30px;
    display: block;
    margin: 0px auto 4px;
}
.carrelloIcon img[src*='hover'] {
    display: none;
}
.carrelloIcon:hover {
    color: #4cbb50;
}
.carrelloIcon:hover img[src$='icon.png'] {
    display: none;
}
.carrelloIcon:hover img[src*='hover'] {
    display: block;
}
main{
    margin-top: 140px;
    display: flex;
    align-items: flex-start;
}
.pannelloSelezionabile {
    flex-basis: 73%;
}
.pannelloSelezionabile h3 {
    margin-top: 0px;
}
.nascosto {
    display: none;
}
.stepUnoInCorso, .stepUnoCompletato, .stepDue, .stepDueInCorso, .stepDueCompletato, .stepTre, .stepTreInCorso {
    margin: 0px 24px 24px;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 0 32px 16px #ededed;
}
.stepUnoInCorso div {
    display: flex;
    align-items: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.scegliUnGiorno div, .scegliUnaFasciaOraria > div {
    border: 1px solid rgba(45,45,46,.4);
    border-radius: 6px;
    margin-right: 24px;
}
.scegliUnGiorno div {
    padding: 16px 32px;
    font-weight: bold;
    text-align: center;
}
.scegliUnaFasciaOraria > div {
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    width: 180px;
}
.orariSelezionabili {
    margin: 20px 0px 0px;
    display: flex;
    flex-wrap: wrap;
}
.orariSelezionabili div {
    border-radius: 4px;
    margin: 0 16px 12px 0;
    padding: 6px;
    font-size: 14px;
}
.nonDisponibile {
    color: #bdbdbd;
    border: 1px solid #d5d5d5;
}
.disponibile {
    color: #4cbb50;
    border: 1px solid #5cc55f;
}
.disponibile:hover {
    cursor: pointer;
    border-color: #28a02c;
}
.legenda * {
    margin: 0 12px 0px 0;
    font-size: 14px;
}
.legenda div:first-child {
    color: #4cbb50;
}
.legenda div:first-child + div {
    color: #ff9f1c;
}
.legenda div:last-child {
    color: #bdbdbd;
}
.scegliUnGiorno div:hover, .scegliUnaFasciaOraria > div:hover {
    cursor: pointer;
    border-color: #37b13b;
}
main .selected {
    background-color: #44a33d;
    border: 1px solid #44a33d;
    color: #fff;
}
button {
    width: 30%;
    margin-left: 70%;
    margin-top: 16px;
    font-size: 16px;
    color: #fff;
    background-color: #44a33d;
    border: none;
    border-radius: 6px;
    padding: 10px;
}
button:hover {
    cursor: pointer;
}
button:disabled {
    width: 30%;
    margin-left: 70%;
    margin-top: 16px;
    font-size: 16px;
    color: #fff;
    background-color: #bdbdbd;
    border: none;
    border-radius: 6px;
    padding: 10px;
    cursor: default;
}
.stepUnoCompletato div, .stepDueCompletato div {
    display: flex;
    justify-content: space-between;
}
.stepUnoCompletato svg:hover {
    cursor: pointer;
}
.stepUnoCompletato h3, .stepDueCompletato h3 {
    margin-bottom: 0;
}
.opzioniSelezionate {
    color: #757575;
    padding-top: 8px;
}
.stepDue h3, .stepTre h3 {
    color:#bdbdbd;
    margin-bottom: 0;
}

form > div {
    display: flex;
    padding: 15px 0px 0px;
}
.stepDueInCorso label, .stepTreInCorso label {
    margin: 0 0 0 32px;
}
div:hover > .checkboxChecked ~ label {
    cursor: pointer;
    color: #4cbb50;
}
.checkboxChecked {
    position: relative;
    z-index: 1;
}
.checkboxChecked input {
    position: relative;
    z-index: 2;
    height: 16px;
    width: 16px;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    height: 16px;
    width: 16px;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    outline: 0.5px solid #757575;
}
div:hover > .checkboxChecked .checkmark {
    border-color: #4cbb50;
    outline-color: #4cbb50;
}
.checkboxChecked input:checked ~ .checkmark {
    background-color: #4cbb50;
    border-color: #4cbb50;
    outline-color: #4cbb50;
}
.checkboxChecked input:checked ~ .checkmark::after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 3px;
    top: -1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.toggleSwitch + label {
    margin: 0 0 8px;
}
.toggleSwitch {
    position: relative;
    z-index: 1;
    margin: 3% 36px 0 16px;
}
.toggleSwitch input {
    position: relative;
    z-index: 2;
    opacity: 0;
    width: 60px;
    height: 34px;
    cursor: pointer;
}
.slider {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 4px;
    left: 4px;
    width: 60px;
    height: 34px;
    border: 2px solid #757575;
    border-radius: 34px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    z-index: 1;
    left: 2.5px;
    bottom: 2.5px;
    content: "";
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #757575;
    -webkit-transition: .4s;
    transition: .4s;
}
.toggleSwitch input:checked + .slider {
    background-color: #4cbb50;
    border: none;
}
.toggleSwitch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #fff;
    height: 28px;
    width: 28px;
    left: 3px;
    bottom: 3px;
}
.stepTreInCorso div {
    display: flex;
}
.stepTreInCorso a {
    text-decoration: underline;
}
.colonnaDiRiepilogo {
    flex-basis: 27%;
    margin-left: 15px;
}
.riepilogoOrdine {
    border: 1px solid #f2f2f2;
    box-shadow: 4px 4px 8px #ededed;
}
.riepilogoOrdine > div {
    padding: 16px;
}
.intestazioneCassa {
    font-size: 18px;
    background-color: #f2f2f2;
}
.sedeBennet div {
    border: 1px solid #e21613;
    border-right: 16px solid #e21613;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 16px;
    margin-top: 8px;
    position: relative;
    z-index: 1;
}
.sedeBennet img {
    position: absolute;
    z-index: 1;
    top: -11px;
    left: 10px;
}
.sedeBennet h4 {
    margin: 2px 0px 8px;
}
.sedeBennet p {
    font-size: 13px;
    margin: 0px;
}
.scontrino {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}
.riepilogoOrdine .scontrino {
    padding-top: 8px;
}
.scontrino p {
    margin: 8px 0px 0px;
}
.scontrinoDesign {
    text-align: right;
}
.cassa div{
    display: flex;
    justify-content: space-between;
}
.cassa button {
    width: 100%;
    margin-left: 0;
}
.alertTimeOut {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    font-size: 14px;
    border: 2px solid rgba(68,163,61,.4);
    border-radius: 6px;
    margin: 10px 15px 0 0;
    background-color: #fff;
}
.alertTimeOut img {
    height: 25px;
    margin-right: 16px;
}
.imgBis {
    display: none;
}
.condizioniBennet {
    color: #757575;
    font-size: 14px;
    padding: 15px;
    text-align: justify;
}
.redWriting {
    color: #e74c3c;
}
.checkOutFooter {
    color: #757575;
    display: flex;
    align-items: center;
    padding: 20px 25px;
}
.checkOutFooter p {
    font-size: 11px;
    margin: 0px;
    text-align: justify;
    line-height: 13px;
}
.help {
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
}
.help * {
    width: max-content;
    padding: 6px 25px;
}
.help a {
    border: 1px solid #757575;
    border-radius: 5px;
    font-weight: bold;
    background-color: #fff;
}
.help a:hover {
    border-color: #4cbb50;
    color: #4cbb50;
}
.whiteLineFooter {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 16px #ededed;
}
.whiteLineFooter > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.divMenu {
    flex-basis: 62%;
    padding: 10px 40px; 
}
.divMenu a {
    padding: 0px 8px;
    font-weight: bold;
    text-align: center;
}
.divMenu a[href]:hover {
    color: #4cbb50;
}
.divSocial {
    flex-basis: 35%;
    padding: 10px 4% 10px 2%;
    box-shadow: -12px 0px 36px #ededed;   
}
.iconDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconDiv img {
    width: 20px;
    margin: 4px 10px;
}
.redLineFooter {
    position: relative;
    z-index: 1;
    background-color: #e21613;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 8px 48px 12px;
}
.redLineFooter div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6px 16px;
}
.redLineFooter strong {
    font-weight: 800;
}
.redLineFooter p{
    font-size: 14px;
    margin: 0px;
}
@media screen and (max-width:1280px) {
    .divMenu {
        flex-basis: 58%;
    }
    .divSocial {
        flex-basis: 42%;
        padding: 10px 2%;
    }
    .scegliUnGiorno div {
        padding: 12px 8px;
    }
    .scegliUnaFasciaOraria > div {
        padding: 8px 16px;
        width: 160px;
    }
}
@media screen and (max-width:992px) {
    .redLineHeader {
        height: 6px;
    }
    .whiteLineHeader img {
        width: 44px;
    }
    .whiteLineHeader h2 {
        font-size: 16px;
    }
    .carrelloIcon {
        padding: 0px 0px;
    }
    .carrelloIcon img {
        width: 25px;
    }
    .carrelloIcon strong {
        display: none;
    }
    main{
        margin-top: 80px;
        display: block;
    }
    .colonnaDiRiepilogo {
        margin-left: 0px;
    }
    .cassa button {
        width: 30%;
        margin: 16px 0px;
    }
    .alertTimeOut {
        margin: 0px;
        background-color: #f2f2f2;
    }
    .imgOriginale {
        display: none;
    }
    .imgBis {
        display: initial;
    }
    .condizioniBennet {
        background-color: #f2f2f2;
    }
    .checkOutFooter {
        display: block;
        background-color: #f2f2f2;
        padding: 0px 16px 20px;
        box-shadow: 0 1px 8px #f0f0f0;
    }
    .checkOutFooter > div {
        padding-top: 20px;
        border-top: 0.5px solid #fff;
    }
    .help {
        justify-content: flex-end;
        margin: 24px 0px 6px;
        font-weight: bold;
    }
    .help * {
        padding: 6px 4%;
    }
    .whiteLineFooter {
        display: block;
        box-shadow: 0px 4px 16px #c0c0c0;
    }
    .whiteLineFooter > div {
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
    }
    .divMenu a {
        width: 100%;
        padding: 10px 24px;
        border: 1px solid #f2f2f2;
        text-align: left;
        box-shadow: 0 1px 8px #f0f0f0;
    }
    .divSocial {
        box-shadow: none;
    }
    .divSocial div {
        padding: 10px 24px;
    }
    .iconDiv img {
        margin: 0px 30px 0px 0px;
    }
    .redLineFooter {
        display: block;
        padding: 16px 24px;
    }
    .redLineFooter img {
        width: 55px;
    }
    .redLineFooter div {
        padding: 0px;
        position: relative;
        z-index: 1;
    }
    .redLineFooter strong {
        font-size: 13px;
        position: absolute;
        z-index: 1;
        top: -34px;
        left: 79px;
    }
    .redLineFooter p {
        font-size: 13px;
        padding-top: 12px;
    }
    .redLineFooter p strong {
        display: none;
    }

}